
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
body,html{
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}
*,*::before,*::after{
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* top-nav */
.top-nav{
    width: 100%;
    padding: 1rem 0;
    background-color: #ffff;
}
.top-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.top-nav-container>div{
    flex: 1;
}
.top-nav-left p{
    text-transform: uppercase;
    font-weight: 900;
}
.top-nav-container .logo {
    max-width: 12.4375rem;
    max-height: 3.4375rem;
}
.top-nav-right {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    text-transform: uppercase;
}
.top-nav-right p:nth-child(1){
    flex: 1;
    text-align: right;
    padding-right: 1rem;
}
/* wrapper */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background-image:  url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
}
.wrapper .wrapper-icon{
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255,.3);
    border: none;
    outline: none;
    cursor: pointer;
}
.wrapper .wrapper-icon i{
    font-size: 1.2rem;
}
.wrapper-icon-prev{
    left: 0;
}
.wrapper-icon-next {
    right: 0;
}
.wrapper-container {
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
   text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffff;
}
.wrapper-content {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 900;
}
.wrapper-content > * {
  
    margin: 0;
    margin-top: 1rem !important;
}
.wrapper-content  *{
    text-transform: uppercase;
}
.wrapper-content h1{
    font-size: 342%;
}
.navbar{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul {
    margin: 1rem 0;
    width: 100%;
    padding: 0;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
.navbar ul a{
     margin-left: 3rem; 
     color: #ffff;  


}
.wrapper-content-btn-navbar button{
    font-size: 100%;
    padding: .8rem 2rem;
    background: none;
    border: 1.4px solid #ffff;
    outline: none;
    text-align: center;
}
.wrapper-content-btn-navbar button:hover{
    transition: all .3s;
    background-color: #ffff;
}
.wrapper-content-btn-navbar button:hover a{
    color: black;
}
.wrapper-content-btn-navbar button a{
    color: #ffff;
    font-size: 75%;
}
/* body */
.body{
    max-width: 80%;
    margin:  0 auto;
    padding-top: 4rem;
}
/* Product */
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 100%;
    text-transform: uppercase;
    
}
.products > p{
    font-size: .875rem;
    letter-spacing: .5rem;
}
.products > h1{
    font-size: 2rem;
}
.product-container{
    width: 100%;
}
.product-img{
    display: flex;
    width: 100%;
    overflow: hidden;
    
}
.product-img-slect{
    margin: 1rem;
    position: relative;
    /* transform: translateX(-100%); */
}
.product-img-slect.slect-home,.product-img-slect.slect-trevel1 {
    margin-left: 0;
}
.product-img-slect img {
    width: 15rem;
    height: auto;
}
.product-img-slect span{
    color: #ffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    padding: 2rem 0;
    text-align: center;
}
.product-img-slect span i{
    padding: 0 .4rem;
}
/* featured */
.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 100%;
    text-transform: uppercase;
    padding-top: 4rem;
}
.featured > p{
    font-size: .875rem;
    letter-spacing: .5rem;
}
.featured > h1{
    font-size: 2rem;
}
.fetured-container{
   display: flex;
   padding: 2rem 0;

}
.fetured-container > div{
     text-align: center;
     padding-left: 1rem;
  
 }
 .fretued-experience {
    padding: 0 !important;
}
 .fetured-container > div p{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
 }
 .fetured-container > div img{
     width: 1.875rem;
     height: 2.1875rem;
 }
 /* about */
 .about{
     margin-top: 2rem;
 }
 .about-container {
     display: flex;
     position: relative;
     height: fit-content;
}
.about-img{
    width: 53%;
    height: 26.875rem;
    position: relative;
    background-color: rgba(0,0,0,.3);
}

.about-img img{
    width: 100%;
    height: 100%;
}
.about-img-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.about-content{
    z-index: 2;
    position: absolute;
    top: -5%;
    right: 0;
    width: 55%;
    height: 100%;
   background-color:rgb(0,91,127);
   padding: 3.125rem;
   color: #ffff;
}
.about-content p:first-child{
    font-size:.875rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.about-content > h1{
    text-transform: uppercase;
    font-size: 2rem;
}
.about-content-main{
   text-transform: capitalize;
   font-family: 'Poppins', sans-serif;
   font-size: 80%;
}
.about-content-btn {
    font-size: 100%;
    padding: .6rem 2rem;
    background: none;
    border: 1px solid black;
    outline: none;
}
.about-content-btn:hover{
    transition: all .3s;
    background-color: #fff;
}
.about-content-btn a{
    text-transform: capitalize;
    color: #fff;
}
.about-content-btn:hover a{
    color: black;
}